<!--
For better look i use small hack, sorry about that
-->
<%= '</div>'.html_safe %>
<style type="text/css">
  #settings div.box.settings { display: none}
</style>
<!---->

<fieldset class="box tabular settings">
  <legend>General</legend>

  <p>
    <label for="url_change_allowed">
      Allow users to change URL (risky)
    </label>
    <%= hidden_field_tag "settings[url_change_allowed]", 0 %>
    <%= check_box_tag "settings[url_change_allowed]", 1, RedmineGitMirror::Settings.url_change_allowed?,
        :id => 'url_change_allowed'
    %>
  </p>

  <p>
    <label for="prevent_multiple_clones">
      Prevent adding same remote url twice
    </label>
    <%= hidden_field_tag "settings[prevent_multiple_clones]", 0 %>
    <%= check_box_tag "settings[prevent_multiple_clones]", 1, RedmineGitMirror::Settings.prevent_multiple_clones?,
        :id => 'prevent_multiple_clones',
        :data => {:shows => '.prevent_multiple_clones_shows'}
    %>
  </p>

  <p class="prevent_multiple_clones_shows">
    <label for="search_clones_by_all_schemes">
      Search for clones in all url schemes
    </label>
    <%= hidden_field_tag "settings[search_clones_in_all_schemes]", 0 %>
    <%= check_box_tag "settings[search_clones_in_all_schemes]", 1, RedmineGitMirror::Settings.search_clones_in_all_schemes?,
       :id => 'search_clones_in_all_schemes'
    %>
  </p>

</fieldset>

<fieldset class="box tabular" id="git_mirror_schemas">
  <legend>Permitted url schemes</legend>

  <% {
    'http'  => 'http://site/project.git',
    'https' => 'https://site/project.git',
    'ssh'   => 'ssh://site/project.git',
    'scp'   => 'git@site:project.git',
  }.each do | key, url |%>
    <label class="floating" title="<%= key %>">
      <%= check_box_tag \
            "settings[schemes][]", \
            key, \
            RedmineGitMirror::Settings.allowed_schemes.include?(key)
      %>

      <%= (sanitize url).sub(key, "<b>#{key}</b>").html_safe %>
    </label>
  <% end %>

</fieldset>
<p><%= check_all_links 'git_mirror_schemas' %></p>

<fieldset class="box tabular">
  <legend>Hooks</legend>

  <p>
    <label for="gitlab_hook_enabled">
      Enable GitLab hook
    </label>
    <%= hidden_field_tag "settings[gitlab_hook_enabled]", 0 %>
    <%= check_box_tag "settings[gitlab_hook_enabled]", 1, RedmineGitMirror::Settings.gitlab_hook_enabled?,
                      :id => 'gitlab_hook_enabled',
                      :onclick => "if (this.checked) { $('#settings_gitlab_token').removeAttr('disabled'); } else { $('#settings_gitlab_token').attr('disabled', true); }" %>
  </p>

  <p>
    <label for="settings_gitlab_token">
      GitLab Token
    </label>
    <%= text_field_tag "settings[gitlab_token]",
                       RedmineGitMirror::Settings.gitlab_token,
                       :size     => 30,
                       :id       => 'settings_gitlab_token',
                       :disabled => !RedmineGitMirror::Settings.gitlab_hook_enabled? %>

    <%= link_to_function l(:label_generate_key), "if (!$('#settings_gitlab_token').attr('disabled')) { $('#settings_gitlab_token').val(randomKey(20)) }" %>
  </p>

  <hr>

  <p>
    <label for="github_hook_enabled">
      Enable GitHub hook
    </label>
    <%= hidden_field_tag "settings[github_hook_enabled]", 0 %>
    <%= check_box_tag "settings[github_hook_enabled]", 1, RedmineGitMirror::Settings.github_hook_enabled?,
                      :id => 'github_hook_enabled',
                      :onclick => "if (this.checked) { $('#settings_github_secret_key').removeAttr('disabled'); } else { $('#settings_github_secret_key').attr('disabled', true); }" %>
  </p>

  <p>
    <label for="settings_github_secret_key">
      GitHub Secret Key
    </label>
    <%= text_field_tag "settings[github_secret_key]",
                       RedmineGitMirror::Settings.github_secret_key,
                       :size     => 30,
                       :id       => 'settings_github_secret_key',
                       :disabled => !RedmineGitMirror::Settings.github_hook_enabled? %>

    <%= link_to_function l(:label_generate_key), "if (!$('#settings_github_secret_key').attr('disabled')) { $('#settings_github_secret_key').val(randomKey(20)) }" %>
  </p>

</fieldset>

<!-- End part of hack for valid html -->
<%= '<div>'.html_safe %>
