<!--
For better look i use small hack, sorry about that
-->
<%= '</div>'.html_safe %>
<style type="text/css">
  #settings div.box.settings { display: none}
</style>
<!---->

<fieldset class="box tabular settings">
  <legend>General</legend>

  <p>
    <label for="url_change_allowed">
      Allow users to change URL (risky)
    </label>
    <%= hidden_field_tag "settings[url_change_allowed]", 0 %>
    <%= check_box_tag "settings[url_change_allowed]", 1, RedmineGitMirror::Settings.url_change_allowed?,
        :id => 'url_change_allowed'
    %>
  </p>

  <p>
    <label for="prevent_multiple_clones">
      Prevent adding same remote url twice
    </label>
    <%= hidden_field_tag "settings[prevent_multiple_clones]", 0 %>
    <%= check_box_tag "settings[prevent_multiple_clones]", 1, RedmineGitMirror::Settings.prevent_multiple_clones?,
        :id => 'prevent_multiple_clones',
        :data => {:shows => '.prevent_multiple_clones_shows'}
    %>
  </p>

  <p class="prevent_multiple_clones_shows">
    <label for="search_clones_by_all_schemes">
      Search for clones in all url schemes
    </label>
    <%= hidden_field_tag "settings[search_clones_in_all_schemes]", 0 %>
    <%= check_box_tag "settings[search_clones_in_all_schemes]", 1, RedmineGitMirror::Settings.search_clones_in_all_schemes?,
       :id => 'search_clones_in_all_schemes'
    %>
  </p>

  <p>
    <label for="branches_to_fetch_change_allowed">
      Allow users to change the branches to fetch
    </label>
    <%= hidden_field_tag "settings[branches_to_fetch_change_allowed]", 0 %>
    <%= check_box_tag "settings[branches_to_fetch_change_allowed]", 1, RedmineGitMirror::Settings.branches_to_fetch_change_allowed?,
                      :id => 'branches_to_fetch_change_allowed'
    %>
  </p>

  <p>
    <label for="remove_unreachable_on_fetch">
      Remove unreachable commits when fetching commits from server
    </label>
    <%= hidden_field_tag "settings[remove_unreachable_on_fetch]", 0 %>
    <%= check_box_tag "settings[remove_unreachable_on_fetch]", 1, RedmineGitMirror::Settings.remove_unreachable_on_fetch?,
                      :id => 'remove_unreachable_on_fetch'
    %>
  </p>

</fieldset>

<fieldset class="box tabular" id="git_mirror_schemas">
  <legend>Permitted url schemes</legend>

  <% {
    'http'  => 'http://site/project.git',
    'https' => 'https://site/project.git',
    'ssh'   => 'ssh://site/project.git',
    'scp'   => 'git@site:project.git',
  }.each do | key, url |%>
    <label class="floating" title="<%= key %>">
      <%= check_box_tag \
            "settings[schemes][]", \
            key, \
            RedmineGitMirror::Settings.allowed_schemes.include?(key)
      %>

      <%= (sanitize url).sub(key, "<b>#{key}</b>").html_safe %>
    </label>
  <% end %>

</fieldset>
<p><%= check_all_links 'git_mirror_schemas' %></p>


<!-- End part of hack for valid html -->
<%= '<div>'.html_safe %>
